.on {
    background-color: green;
}

.off {
    background-color: red;
}

.dot {
    margin-left: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.dotOn {
    background-color: green;
}

.dotOff {
    background-color: red;
}